body { 
    background-color: #000000;
    }

.wellcome { 
    color: #0aeaf2;
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: auto;
    }
.links { 
    color: #0aeaf2;
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: auto;
    }