body { 
    background-color: #1a2238;
}
footer {
    background-color: #1a2238;
    color: #fff;
    font-size: 0.9vw;
    text-align: center;
    padding: auto;
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100%;
}
.insta {
    color: #fff;
    font-size: 1.5vw;
    font-family: 'Georgia';
    text-align: center;
    padding: auto;
}
.home {
    color: #fff;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-align: center;
    padding: auto;
}
